body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}
.gradient-background {background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: black;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gradient-button {background-image: linear-gradient(to right, #2BC0E4 30%, #EAECC6 80%)}